/*///////////////////////////////////////////// */
/*////           MAIN SETUP                //// */
/*///////////////////////////////////////////// */

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-family: -apple-system, system-ui, sans-serif;
    text-shadow:
        0 1px 0 rgba(255, 255, 255, 0.05),
        0 4px 6px rgba(0, 0, 0, 0.4);
}

.mainCont {
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.introCont {
    width: 25%;
    height: 80%;
    border-radius: 20px;
    background-color: #1e1e1f;


    /* https://codersblock.com/blog/creating-glow-effects-with-css/ */
    box-shadow:
        0 0 10px #fff,
        -10px 0 20px #b2ffff,
        10px 0 80px #00ced1;

    display: flex;
    align-items: center;
    flex-direction: column;
    margin: none;

}

.projectCont {
    width: 60%;
    height: 80%;
    border-radius: 20px;
    background-color: #1e1e1f;

    /* https://codersblock.com/blog/creating-glow-effects-with-css/ */
    box-shadow:
        0 0 10px #fff,
        -1px 0 20px #b2ffff,
        10px 0 80px #00ced1;
    /* 10px 0 80px #FF69B4; */

    display: flex;
    flex-direction: column;

}



/*///////////////////////////////////////////// */
/*////           INTRO BOX                 //// */
/*///////////////////////////////////////////// */

.profile {
    width: 60%;
    height: 25%;
    background-color: #333333;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.3),
        0 10px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    border-radius: 20px;

}

#profilePic {
    margin-top: 10%;
    width: 80%;
    height: auto;
}

.name {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    border-radius: 20px;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;


}

.personalInfo {
    margin-top: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: white;
    font-size: 0.9rem;

}



/*///////////////////////////////////////////// */
/*////           Project BOX               //// */
/*///////////////////////////////////////////// */

.projectTitle {
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5%;
    margin-left: 5%;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.lineCont {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 5%;
    margin-top: 1%;

}

.divideLine {
    width: 70%;
    height: 2px;
    background-color: white;
}

.projectCardCont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.project {
    width: 30%;
    height: 70%;
    background-color: #333333;
    border: #b2ffff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.3),
        0 10px 20px rgba(0, 0, 0, 0.4);
}

.coverPhotos {
    width: 90%;
    height: 50%;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.3),
        0 10px 20px rgba(0, 0, 0, 0.4);
    


}

.projName {
    color: white;
    font-weight: bold;
    display: flex;
    text-align: left;
    width: 100%;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 1.4rem;
}

.projDesc {
    color: white;
    display: flex;
    text-align: justify;
    width: 90%;
    margin-top: 5%;
    font-size: .8rem;

}

#proj1, #proj2, #proj3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}